.search-bar-container {
    margin: 16px 0px 16px 24px;
    display: flex;
    align-items: center;
}
.search-bar-container * {
    margin-right: 8px;
}

.search-bar {
    width: 75%;
    padding: 8px;
    border-radius: 2px;
    border: 1px solid #777;
}

.toggle-list-btn {
    padding: 8px;
    width: 142px;
    background-color: rgb(14, 139, 255);
    color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
    font-size: 14px;
}

.toggle-list-btn:hover {
    background-color:rgb(4, 109, 229);
}