li {
    margin: 12px 0;
}

.member-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.member * {
    margin-right: 8px;
}

.member input[type="text"] {
    font-size: 12px;
    width: 75px;
    border: 1px solid #777;
    border-radius: 2px;
    padding: 2px 4px;
}