.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 350px;
  background-color: #efefef;
}

.tree-container {
  height: 350px;
  overflow: auto;
  padding-right: 8px;
}